[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/SPICE"]
	path = third-party/SPICE
	url = https://github.com/SoAModTools/SPICE.git
